/* Color Theme Swatches in RGBA */
$some-blue: #9cb6de;
$darkest: rgba(6, 15, 47, 1);
$mint: rgba(205, 247, 246, 1);
$dark-blue: rgba(104,132,173, 1);
$light-blue: rgba(204,224,255, 1);
$lighter-blue: #bdd1ef;
$blue: rgba(174,205,250, 1);
$dark-brown: rgba(173,144,87, 1);
$light-brown: rgba(250,225,175, 1);
$text-blue: #364863;

//gradients
$gradient-mint: linear-gradient(90deg, $light-blue, $light-blue, $light-blue);
$gradient-blue: linear-gradient(90deg, $dark-blue, $light-blue, $mint);
$gradient-brown: linear-gradient(90deg, $dark-brown, $light-brown);

// /* scale the fonts based on device size */
// html {
// 	@media (max-width: $XXS) {
// 		font-size: 50%;
// 	}
// 	@media (max-width: $XS) {
// 		font-size: 60%;
// 	}
// 	@media (max-width: $S) {
// 		font-size: 70%;
// 	}
// 	@media (max-width: $M) {
// 		font-size: 80%;
// 	}
// 	@media (max-width: $L) {
// 		font-size: 190%;
// 	}
// 	@media (max-width: $XL) {
// 		font-size: 100%;
// 	}
// 	@media (max-width: $XXL) {
// 		font-size: 110%;
// 	}
// }

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;

body{
    font-size: 100%;
    // line-height:1.6;

    @media screen and (min-width:$screen-sm){
        font-size:50%;
    }

    @media screen and (min-width:$screen-lg){
        font-size: 95%;
		// .the, .enigma, .machine {
		// 	font-size: 5em;
		// }

    }

    @media screen and (min-width:$screen-xl){
        font-size:110%;
    }
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
	background: $light-blue;
	margin: 0px;
	box-sizing: border-box;
}

.icon, .button {
	display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
	width: 1.5em;
	height: 1.5em;
	padding-left: 0.5em;
}
.button {
	color: $light-blue;
	font: 1.5em Futura, sans-serif;
	text-decoration: none;
	position: relative;

	background-color: $dark-blue;
	border: 2px 1px solid $dark-blue;
	outline: none;

	height: 3.5em;
	width: 10em;

	background-image: $gradient-mint;
	background-size: 0 5px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;
}

.button:hover {
	box-shadow: 5px 2px 10px $darkest;
	background-size: 100% 2px, auto;
}

.logo {
	padding-left: 2em;
	width: 8.5em;
	height: 3.5em;
	opacity: 1;
}

.banner {
	max-width: 100%;
	height: auto;
	width: auto;
	max-height: 50em;

	opacity: 0.85;
	display:block;
	margin: 0px;
}

.card {
	position: absolute;
	width: 27.5em;
	height: 17.5em;

	transition: .15s ease-out;
}

.info-card {
	width: 20em;
	height: 30em;
	background-color: $light-blue;
	border-radius: 20px;
	box-shadow: 0px 2px 25px $dark-blue;
	padding: 2.5em 2.5em;
	font-family: Futura, sans-serif;
	font-size: 1.5em;
	color: $text-blue;
	line-height: 1em;
	letter-spacing: 0.02em;
}

.text-card {
	top: 3em;
	left: 8.5em;
	z-index: 2;

	border: 3px 2px solid $mint;
	// border-radius: 30px;
	background: $gradient-mint;
	box-shadow: 0px 5px 15px $blue;
	overflow: hidden;


	div {
		font-size: 1em;
		color: $darkest;
	}

	h2 {
		font-size: 1.7em;
		letter-spacing: 0.2em;
		font-weight: bold;
		// color: $mint;
		background: -webkit-linear-gradient(90deg, $light-blue, $mint, $mint);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

}

.card-text {
	// color: $darkest;
	text-align: center;
	padding: 1em 0.8em;
}

.header {
	background-color: $dark-blue;
	padding: 0px;
	border-bottom: 2px 2px solid $mint;
}


// .text-card:hover {
// 	transition: all .1s ease-in;
// 	transform: scale(1.05);
// 	border: 1px 3px solid $dark-blue;
// }

.shadowed {
	position: absolute;
	z-index: 1;
	top: 4.5em;
	left: 7em;
	background-color: white;
	border: 1px 3px solid $blue;
	text-align: right;

}

.shadowed:hover {
	z-index: 3;
	transition: .2s ease-in;
	transform: scale(1.01);
}

.top-nav {
	position: relative;

	.main {
		background-color: transparent;
		border: none;
		outline: none;

		img {
			// position: absolute;
			padding-left: 5.5em;
			width: 14.5em;
			height: 5.5em;
			opacity: 1;
		}
	}

	.main:hover {
		opacity: 0.75;
	}
}



.title {
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 5em;
	letter-spacing: 0.1em;
	background: 50% 100% / 50% 50% no-repeat
		radial-gradient(ellipse at bottom, $darkest, $blue);
	webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: reveal 2000ms ease-in-out forwards 200ms,
		glow 8000ms linear infinite 8000ms;

	@keyframes reveal {
	80% {
		letter-spacing: 5px;
	}
	100% {
		background-size: 300% 300%;
	}
	}
	@keyframes glow {
		40% {
			text-shadow: 0 0 8px $blue;
		}
	}
}

//text effects below
$t: 2.5s;
$d: 0.08em;
$d1: 0.05em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$front: $dark-blue;
$back: $blue;


.machine, .the {
	font-family: Futura, sans-serif;
	// font-weight: 900;
	font-size: 5em;

	background: linear-gradient(to right, $darkest, $dark-blue, $dark-blue);
    background-size: 0% 10px;
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: underline 0.5s ease-out 1.8s forwards;

	@keyframes underline {
		to {background-size: 100% 5px;}
	}

	@keyframes ani {
	0%{
		transform: translate3d(0,0,0);
		text-shadow: 0em 0em 0 $back;
		color: $front;
	}
	30%{
		transform: translate3d(0,0,0);
		text-shadow: 0em 0em 1px 0 $back;
		color: $front;
	}
	70%{
		transform: translate3d($d,-$d,0);
		text-shadow: -$d $d 2px $back;
		color: $front;
	}
	100%{
		transform: translate3d($d,-$d,0);
		text-shadow: -$d $d 3px $back;
		color: $front;
	}
	}
}

.span-title {
	position: relative;
	display: inline-block;
	animation: ani $t 1 forwards $e;

	// @for $i from 1 through $n{
	// 	&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
	// }
}

.enigma-pic {

	p {
		margin: 0px;
		color: $darkest;
		font: 1.5em Arial, sans-serif;
		text-decoration: none;
		letter-spacing: 0.15em;
	}
}

.enigma {
	font-family: Futura, sans-serif;
	font-weight: 700;
	font-size: 5em;
	color: $darkest;
	opacity: 0.8;

	overflow: hidden;
	border-right: 4px solid $light-blue;
	white-space: nowrap;
	margin: 0 auto;

	animation:
		typing 1.8s steps(10, end),
		blink-caret .65s step-end 3;

	@keyframes blink-caret {
		from, to { border-color: transparent }
		50% { border-color: $darkest; }
	}

	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
	}
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	display: flex;

}



.sub-menu {
	position: absolute;
	display: none;
}

.manual-menu li {
	position: relative;
}

.main-menu>li:hover .manual-menu {
	display: block;
}

.manual-menu>li:hover .components-menu {
	display: block;
}

.manual-menu {

}

.components-menu {
	top: 0;
	right: 0;

	transform: translate(100%, 0);
}
