@import "main";

.grid-container {
	// height: 100hv;
	display: grid;
	grid-template-columns: 100px 75px 75px 1fr 20px 100px 200px 200px 75px 125px 20px;
	grid-template-rows: 80px 100px 550px 600px 1fr 300px 450px 150px 1100px 300px 450px
						 150px 1100px 300px 450px 150px 1100px 300px 450px 150px 70px;
	// grid-template-areas:
	// 	"topnav topnav topnav topnav topnav";



	.top-nav {
		grid-column: 1/12;
		grid-row: 1/2;

		background-color: $dark-blue;
		opacity: 0.85;
		//box-shadow: 10px 0px 15px -2px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 5px 30px $darkest;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.buttons {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: baseline;
			margin-right: 20px;
		}

	}

	.banner-wrapper {
		position: relative;
		text-align: center;
		font: 1.2em Arial, sans-serif;
		text-decoration: none;

		.banner {
			opacity: 0.85;
			width: 100%;
		}
	}

	.title-wrapper {
		grid-column: 3/7;
		grid-row: 3/4;
		align-self: center;
		margin-bottom: 150px;
		line-height: 100px;
	}

	.enigma-pic {
		text-align: center;
		grid-column: 7/11;
		grid-row: 3/4;

		img {
			width: 500px;
			height: 400px;
			object-fit: contain;
		}

	}

	.lampboard-banner-wrapper {
		grid-column: 1/12;
		grid-row: 4/5;
	}
	.lampboard-title {
		grid-column: 3/6;
		grid-row: 6/7;
	}
	.lampboard-pic {
		grid-column: 3/6;
		grid-row: 7/8;


		img {
			width: 500px;
			height: 400px;
			object-fit: contain;
		}
	}
	.lampboard-text {
		grid-column: 6/10;
		grid-row: 6/8;

	}


	.keyboard-banner-wrapper {
		grid-column: 1/12;
		grid-row: 9/10;
	}
	.keyboard-title {
		grid-column: 6/10;
		grid-row: 10/11;
		text-align: right;
	}
	.keyboard-pic {
		grid-column: 7/10;
		grid-row: 11/12;

		img {
			width: 450px;
			height: 400px;
			object-fit: contain;
		}
	}
	.keyboard-text {
		grid-column: 3/5;
		grid-row: 10/11;
	}

	.plugboard-banner-wrapper {
		grid-column: 1/12;
		grid-row: 13/14;
	}
	.plugboard-title {
		grid-column: 3/5;
		grid-row: 14/15;
	}
	.plugboard-pic {
		grid-column: 3/5;
		grid-row: 15/16;

		img {
			width: 450px;
			height: 400px;
			object-fit: contain;
		}
	}
	.plugboard-text {
		grid-column: 6/10;
		grid-row: 14/16;

		.info-card {
			float: right;
		}
	}

	.rotors-banner-wrapper {
		grid-column: 1/12;
		grid-row: 17/18;
	}
	.rotors-title {
		grid-column: 6/10;
		grid-row: 18/19;
		text-align: right;
	}
	.rotors-pic {
		grid-column: 7/10;
		grid-row: 19/20;

		img {
			width: 450px;
			height: 400px;
			object-fit: contain;
		}

	}

	.rotors-text {
		grid-column: 3/5;
		grid-row: 18/20;
	}
}

footer {
	grid-column: 1/12;
	grid-row: 21/22;
	background-color: $dark-blue;
	opacity: 0.7;
	display: flex;
}
